* {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background-color: #1e1e1e;
}

.app-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}